<div class="container">
  <br><br><br>


  <div class="row row-cols-1 row-cols-md-4 g-4" *ngIf="movies.results!=null else espera">
    <div class="col" *ngFor="let m of movies.results">
      <div class="card">
        <img src={{m.backdrop_path}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{m.title}}</h5>
          <br>
          <div class="d-grid gap-2 col-10 mx-auto">
            <button routerLink="/more" [queryParams]="{id: m.id}" class="btn btn-warning " type="button"> See
              more</button>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #espera> No hay datos que mostrar por ahora....</ng-template>
